body {
    margin: 0;
    text-align: center;
    font-family: "Merriweather", serif;
}

.top-container {
    background-color: #D2E0FB;
    position: relative;
    padding-top: 100px;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 40px;
}

h1 {
    font-family: "Harrington", fantasy;
    font-weight: bold;
    color: #8EACCD;
    margin: 50px auto 0 auto;
    font-size: 5.625rem;
}

h2 {
    color: #8EACCD;
    font-size: 2.5rem;
    font-weight: normal;
    padding-bottom: 10px;
}

.pro {
    text-decoration: underline;
}

.bot-cloud {
    position: absolute;
    left: 250px;
    bottom: 300px;
}

.mid-container {
    margin: 100px 0;
}

.profile {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.hello {
    padding-bottom: 10px;
}

.intro {
    width: 40%;
    margin: auto;
    font-size: 1.4rem;
}

hr {
    margin: 100px auto;
    border: dotted #D2E0FB 6px;
    border-bottom: none;
    width: 5%;
}

h3 {
    color: #8EACCD;
    font-weight: bold;
}

.contact-message {
    width: 40%;
    margin: 40px auto 60px;
}

a {
    margin: 10px 20px;
    text-decoration: none;
}

.btn {
    background-color: #8EACCD;
    border-radius: 8px;
    padding: 10px 20px 10px 20px;
    color: #ffff;
    /* text-decoration: none; */
    font-size: 20px;
}

.btn:hover {
    background-color: #D2E0FB;
    color: #8EACCD;
}

.end-container {
    background-color: #8EACCD;
    padding: 80px 0 80px;
    margin-top: 100px;
}

.copyright {
    color: #ffff;
}

.footer-link {
    font-family: "Montserrat", sans-serif;
    color: #377eca;
}

.footer-link:hover {
    color: #ffff;
}

/* body {
    margin: 0;
    text-align: center;
}

.top-container {
    background-color: #D2E0FB;
    position: relative;
    padding-top: 100px;
    height: 725px;
}

.top-cloud {
    position: absolute;
    top: 40px;
    right: 400px;
}

h1 {
    font-family: "Harrington", fantasy;
    font-weight: bold;
    color: #8EACCD;
    margin: 50px auto 0 auto;
    font-size: 5.625rem;
}

.programmer {
    font-family: "Harrington", fantasy;
    color: #8EACCD;
    font-size: 2.5rem;
    padding-bottom: 10px;
}

.pro {
    text-decoration: underline;
}

.bot-cloud {
    position: absolute;
    left: 350px;
    top: 400px;
}

.mountain {
    position: absolute;
    right: 400px;
    bottom: 0;
}

.mid-container {
    margin: 400px 0;
    background-color: #D2E0FB;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 150px;
    height: 725px;
}

.profile {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.Hello {
    font-size: 2.5rem;
    color: #8EACCD;
}

.introduction {
    font-size: 1.4rem;
}

.end-parent {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    margin: 100px auto 0 auto;
    row-gap: 2rem;
}

.skills {
    font-size: 2.5rem;
    color: #8EACCD;
    font-weight: normal;
}

.end-parent h3 {
    color: #8EACCD;
    font-weight: bold;
    font-size: 1.8rem;
}

.end-parent p {
    font-size: 1.2rem;
}

.contact-me {
    margin: 70px auto 0 auto;
} */